HOSTNAME={{ zabbix_rabbit_hostname }}
USERNAME={{ zabbix_rabbit_monitoring_user.login }}
PASSWORD={{ zabbix_rabbit_monitoring_user.password }}
LOGLEVEL={{zabbix_rabbit_log_level}}
LOGFILE={{zabbix_rabbit_log_file}}
PORT={{zabbix_rabbit_monitoring_port}}
FILTER='{{zabbix_rabbit_monitoring_filter}}'
CONF={{zabbix_config_dir}}/{{zabbix_config_file}}
